<div class="bg-comp" style="display: flex !important;">
  <div class="d-flex flex-column flex-shrink-0 p-3" [style]="'width: ' + sidebarWidth + '; height: 100vh; background-color: white; transition: .5s'">
    <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../../../../assets/kya-logo-no-shadow.png" class="p-3 text-center" style="border-radius: 15px; max-width: 100%;" width="200px" alt="" *ngIf="!collapsedSidebar">
      <img src="../../../../assets/logo-k.png" class="p-1 text-center" style="border-radius: 0px; max-width: 100%;" width="42px" alt="" *ngIf="collapsedSidebar">
    </a>
    <hr>
    <div>
      <ul class="nav nav-pills flex-column mb-2">
        <li [class.mobile-li]="collapsedSidebar">
          <button class="no-border nav-link p-0 w-100" style="text-decoration: none;" (click)="toggleAndProccessSidebar(true)">
            <div class="menu-button p-1 w-100 rounded-3 fs-5 inter-font text-dark text-center"
            style="cursor: pointer;">
              <i class="ms-1 fs-2 bi bi-list"></i>
            </div>
          </button>
        </li>
      </ul>
    </div>
    <!--<div>
      <ul class="nav nav-pills flex-column mb-auto" *ngIf="collapsedSidebar">
        <li [class.mobile-li]="collapsedSidebar">
          <button (click)="openDomainDialog()" class="no-border nav-link p-0" style="text-decoration: none;">
            <div class="menu-button p-2 text-start rounded-3 fs-5 inter-font text-dark"
            style="cursor: pointer;">
              <i class="ms-1 bi bi-bookmark-check-fill"></i>
              <span class="mx-3" *ngIf="!collapsedSidebar">Inicio</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
    <mat-form-field class="w-100 m-0 p-0" appearance="outline" *ngIf="domains && !collapsedSidebar">
      <mat-label>Dominios</mat-label>
      <mat-select [(value)]="selectedValueDomain" (selectionChange)="setWebsite($event.value)">
        <mat-option *ngFor="let domain of domains" [value]="domain.id">{{domain.domainName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="no-border nav-link p-0 mt-3" style="text-decoration: none;" (click)="updateDomains()" *ngIf="!collapsedSidebar">
      <div class="menu-button text-start rounded-3 p-2 fs-5 w-100 inter-font text-dark"
      [class.selectedButton]="selectedButton === '/dashboard/' + PagesId.MANAGE_USERS"
      style="cursor: pointer;">
        <i class="ms-1 bi bi-arrow-clockwise fs-4 align-middle"></i>
        <span class="ms-3">Actualizar dominios</span>
      </div>
    </button>-->
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li [class.mobile-li]="collapsedSidebar">
        <a [routerLink]="'/' + PagesId.DASHBOARD" class="no-border nav-link p-0" style="text-decoration: none;">
          <div class="menu-button p-2 text-start rounded-3 fs-5 inter-font text-dark"
          [class.selectedButton]="selectedButton === '/' + PagesId.DASHBOARD"
          style="cursor: pointer;">
            <i class="ms-1 bi bi-house-door-fill"></i>
            <span class="mx-3" *ngIf="!collapsedSidebar">Inicio</span>
          </div>
        </a>
      </li>
      <li [class.mobile-li]="collapsedSidebar">
        <a [routerLink]="PagesId.MANAGE_POSTS" class="no-border nav-link p-0" style="text-decoration: none;">
          <div class="menu-button text-start rounded-3 mt-2 p-2 fs-5 w-100 inter-font text-dark"
          [class.selectedButton]="selectedButton === '/dashboard/' + PagesId.MANAGE_POSTS"
          style="cursor: pointer;">
            <i class="ms-1 bi bi-file-earmark-post"></i>
            <span class="mx-3" *ngIf="!collapsedSidebar">Gestionar posts</span>
          </div>
        </a>
      </li>
    </ul>
    <section *ngIf="isAdmin">
      <span class="inter-font fs-5" *ngIf="!collapsedSidebar">Área administrativa</span>
      <hr *ngIf="!collapsedSidebar">
      <ul class="nav nav-pills flex-column">
        <li [class.mobile-li]="collapsedSidebar">
          <a [routerLink]="PagesId.MANAGE_USERS" class="no-border nav-link p-0" style="text-decoration: none;">
            <div class="menu-button text-start rounded-3 p-2 fs-5 w-100 inter-font text-dark"
            [class.selectedButton]="selectedButton === '/dashboard/' + PagesId.MANAGE_USERS"
            style="cursor: pointer;">
              <i class="ms-1 bi bi-person-fill"></i>
              <span class="mx-3" *ngIf="!collapsedSidebar">Usuarios</span>
            </div>
          </a>
        </li>
        <li [class.mobile-li]="collapsedSidebar">
          <a [routerLink]="PagesId.MANAGE_DOMAINS" class="no-border nav-link p-0" style="text-decoration: none;">
            <div class="menu-button text-start rounded-3 mt-2 p-2 fs-5 w-100 inter-font text-dark"
            [class.selectedButton]="selectedButton === '/dashboard/' + PagesId.MANAGE_DOMAINS"
            style="cursor: pointer;">
              <i class="ms-1 bi bi-bookmark-fill"></i>
              <span class="mx-3" *ngIf="!collapsedSidebar">Dominios</span>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <hr>
    <div class="text-dark" *ngIf="authData">
      <div class="text-start rounded-3 p-2 fs-5 inter-font text-dark">
        <i class="ms-1 bi bi-person-circle"></i>
        <span class="mx-3" *ngIf="!collapsedSidebar">{{username}}</span>
      </div>
    </div>
    <button class="no-border w-100" style="text-decoration: none;" (click)="logout()" *ngIf="authData">
      <div class="menu-button text-start rounded-3 p-2 fs-5 fw-light text-dark" style="cursor: pointer;">
        <i class="ms-1 bi bi-box-arrow-right"></i>
        <span class="mx-3" *ngIf="!collapsedSidebar">Cerrar sesión</span>
      </div>
    </button>
  </div>
  <div class="routerOutletWrapper" [style]="'height: 100vh; width: calc(100vw - ' + sidebarWidth + ');border-left: 4px solid rgb(252, 163, 17, .8);'">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
