<form *ngIf="userReference" #formu="ngForm" (ngSubmit)="submitForm(formu)">
  <div class="row g-0">
    <div class="col-md-6 p-1">
      <input class="custom-input-text w-100" type="name" name="name" placeholder="Nombre" [(ngModel)]="userReference.nombre" required>
    </div>
    <div class="col-md-6 p-1">
      <input class="custom-input-text w-100" type="nickname" name="nick" placeholder="Nick" [(ngModel)]="userReference.nombreUsuario" required>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-6 p-1">
      <input class="custom-input-text w-100" type="email" name="email" placeholder="Email" autocomplete="chrome-off" [(ngModel)]="userReference.email" required>
    </div>
    <div class="col-md-6 p-1">
      <input class="custom-input-text w-100" type="password" name="password" placeholder="Contraseña" autocomplete="chrome-off" [(ngModel)]="userReference.password" (click)="log(null)">
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-12 p-1">
      <mat-form-field class="w-100 m-0 p-0" appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select [(ngModel)]="selectedValues" name="roles" (selectionChange)="selectionChange($event)" multiple>
          <mat-option *ngFor="let authority of roles" [value]="authority.id">{{authority.rolNombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row g-0">
    <div class="col mt-2 p-1">
      <button type="submit" class="custom-accent-button text-center w-100 px-0" style="position: relative">
        <span class="ms-2" *ngIf="isUpdate">Modificar usuario</span>
        <span class="ms-2" *ngIf="!isUpdate">Registrar usuario</span>
      </button>
    </div>
  </div>
</form>
