<div class="row g-0" style="border-bottom: 4px solid rgb(252, 163, 17, .8);">
  <div class="imagen-portada">
    <div class="overlay">
      <img
        loading="eager"
        width="100%"
        height="100%"
        class="overlay-img" style="filter: blur(8px);"
        src="../../../../assets/low-poly-2.svg"/>
    </div>
    <div class="overlay"></div>
    <div class="row g-0  mx-4"
      style="z-index: 2 !important; position: relative; height: 100%">
      <div class="col">
        <div class="fs-2 pt-4 inter-font text-white">
          {{title}}
        </div>
        <hr class="m-0 p-0 text-white mt-3 mb-3 rounded-3" style="opacity: .8; height: 2px">
        <div class="fs-5 text-white pb-3">
          {{description}}
        </div>
      </div>
    </div>
  </div>
</div>
