.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #00000078;
}

.imagen-portada {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  z-index: 0;
  background-size: cover;
}

.overlay-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  background-size: cover;
  object-fit: cover;
}
