<app-cabecera [title]="'KYA: Gestión de dominios'" [description]="'Aquí puedes añadir, modificar o eliminar dominios.'"></app-cabecera>
<div class="d-flex flex-wrap rounded-3">
  <div>
    <button class="custom-primary-button my-3 ms-3" (click)="refresh()" style="position: relative">
      <i class="me-2 bi bi-arrow-clockwise"></i>
      Actualizar
    </button>
  </div>
  <div>
    <button class="custom-accent-button my-3 ms-3" (click)="addDomain()" style="position: relative">
      <i class="me-2 bi bi-plus-lg"></i>
      Añadir dominio
    </button>
  </div>
  <div *ngIf="dominioSeleccionado">
    <button class="custom-accent-button my-3 ms-3" [class.mx-0]="currentViewport === 'xs' || currentViewport === 'sm'" (click)="editDomain()" style="position: relative">
      <i class="me-2 bi bi-pencil-fill"></i>
      Modificar dominio
    </button>
  </div>
  <div *ngIf="dominioSeleccionado">
    <button class="custom-primary-button my-3 me-0 ms-3" style="position: relative" (click)="deleteDomain()">
      <i class="me-2 bi bi-trash-fill"></i>
      Eliminar dominio
    </button>
  </div>
  <div class="my-3 ms-3">
    <input class="custom-input-text w-100" placeholder="Buscar dominios..." style="height: 40px;">
  </div>
</div>

<p-table
*ngIf="domains"
  [value]="domains"
  [autoLayout]="true"
  [(selection)]="dominioSeleccionado"
  [rowHover]="true"
  [responsive]="true"
  selectionMode="single"
  dataKey="id"
  (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
  <ng-template pTemplate="header">
    <tr class="inter-font fs-5">
      <th class="text-white header-table" pSortableColumn="id">Id</th>
      <th class="text-white header-table" pSortableColumn="domainName">Nombre</th>
      <th class="text-white header-table" pSortableColumn="domainDescription">Descripción</th>
      <th class="text-white header-table" pSortableColumn="domainUrl">URL</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-domain>
    <tr [pSelectableRow]="domain" class="inter-font">
        <td>{{domain.id}}</td>
        <td>{{domain.domainName}}</td>
        <td>{{domain.domainDescription}}</td>
        <td>{{domain.domainUrl}}</td>
    </tr>
  </ng-template>
</p-table>
