svg#freepik_stories-404-error:not(.animated) .animable {
	opacity: 0;
}

svg#freepik_stories-404-error.animated #freepik--error-404--inject-53 {
	animation: 1.5s Infinite linear floating;
	animation-delay: 0s;
}

@keyframes floating {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

