<aside>
  <div class="flex-menu">
    <div class="top-section">
      <button mat-button color="accent" (click)="sideNav.close()">
        <mat-icon>close</mat-icon>
        Close
      </button>
      <button mat-button color="accent">
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="bottom-section">
      <button mat-button color="accent">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-button color="accent">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
    </div>
  </div>
</aside>