/* You can add global styles to this file, and also import other style files */

@import "./app/temas/angular-material/main.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  /*scroll-margin-top: 0px;*/
}

.inter-font {
  font-family: Inter /* Replace with your custom font */, sans-serif !important;
}

.mat-drawer-container {
  background-color: transparent !important;
  color: black;

}

.mat-drawer-content {
  overflow: hidden !important;
}

.pattern {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.2;
  background-size: 25px 25px;
}

.bdrop {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.image-bdrop {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4px);
}

.image-with-div:hover img{
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.custom-link {
  text-decoration: underline;
  color: blue;
}

.custom-link:hover {
  cursor: pointer;
}

.mat-dialog-container {
  padding: 0px !important;
}

.link, .linkInverted {
  text-decoration: none;
  position: relative !important;
  color: inherit;
}

.link:hover, .linkInverted:hover {
  color: inherit;
  text-decoration: none;
}

.cursorPointer:hover {
  cursor: pointer;
}

.mat-card-header-text {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.mat-card{
  padding: 0px !important;
}

.mat-card-content{
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mat-card-actions {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 9px !important;
}

.mat-card-image {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.link::before, .linkInverted::before {
  content: '';
}
.link::before, .link::after, .linkInverted::before, .linkInverted::after {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  pointer-events: none;
}

canvas {
  position: absolute;
}

.underline-after-decorator::after, .underline-before-decorator::before{
  content:'';
  display: inline-flex;
  width: 150px;
  vertical-align: middle;
  border-radius:50px;
  margin-left: 10px;
}

.image-with-div {
  position:relative;
  display:inline-block;
  margin:10px;
  transition: all .2s ease-in-out;
  display:inline-block;
  opacity: 1;
}

.overlay-image {
  opacity: 0;
  display:inline-block;
  transition: all .2s ease-in-out;
}
.image-with-div:hover .overlay-image {
  width:100%;
  height:100%;
  transition: all .2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius:10px;
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  opacity: 1;
}

.overlay-image-visible {
  width:100%;
  height:100%;
  transition: all .2s ease-in-out;
  border-radius:10px;
  position:absolute;
  top:0;
  opacity: 1;
  left:0;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
}

.btn-background-primary, .btn-background-accent {
  white-space: pre-wrap !important;
}

.overlay-image {
  width:100%;
  height:100%;
  transition: all .2s ease-in-out;
  border-radius:10px;
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
}

.overlay-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  background-size: cover;
  object-fit: cover;
}

.multiline-link {
  text-decoration: none;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: 0.6s;
}

.multiline-link:hover {
  background-size: 100% 4px;
}

.multiline-static, .multiline-static-primary {
  text-decoration: none;
  opacity: 1;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-size: 100% 4px;
}

.gradient {
  position: absolute;
  background-image: none;
  border-radius: 10px;
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

.card-icon {
  opacity: 0;
}

.zoomOnService {
  transition: transform .2s; /* Animation */
}

.zoomOnService:hover {
  transform: scale(1.05);
}

.blur-for-gecko {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

.blur-for-gecko-activator:hover ~ #presentationImage{
  cursor: pointer;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.btn--shockwave.is-active {
  -webkit-animation: shockwaveJump 3s ease-out infinite;
          animation: shockwaveJump 3s ease-out infinite;
}

@keyframes shockwaveJump {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(0.98);
  }
  55% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.p-component {
  box-shadow: none !important;
  border-radius: 0px !important;
}

.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-carousel .p-carousel-content .p-carousel-prev:focus, .p-carousel .p-carousel-content .p-carousel-next:focus {
  outline: 0 none;
  outline-offset: 0;
}

.remove-border {
  border-left: 0px !important;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
}

.text-custom-secondary {
  color: #445b78;
}

.text-secondary {
  color: #8c8c8c;
  transition: .3s;
}


.left-border {
  border-left: 4px solid rgba(255, 203, 57, 1) !important;
}

button {
  all: unset;
  cursor: pointer;
  max-width: 100%;
}

.no-border {
  border: none !important;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.rounded-border {
  border-radius: 15px;
}

.zoom {
  transition: 0.2s;
}

.zoom:hover {
  transform: scale(1.03);
}

.custom-input-text {
  font-family: Inter;
  font-size: 15px;
  border: 0px;
  outline-width: 0;
  padding: 15px;
  background-color: rgba(223, 86, 86, 0.1);
  border-radius: 10px;
}

.custom-input-text:focus {
  border: 1px solid rgba(252, 163, 17, 1);
  background-color: white;
}


.hide-for-animation {
  visibility: hidden;
}


.bicon {
  transition: .2s;
  border-radius: 5px;
}

.bicon:hover {
  cursor: pointer;
}


.moreZoom {
  transform: scale(1);
  transition: .3s;
}

.moreZoom:hover {
  transform: scale(1.3);
}

.banner-pattern {
  opacity: 0.2;
  background: radial-gradient(circle, transparent 20%, #14213d 20%, #14213d 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #14213d 20%, #14213d 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#5a6377 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #5a6377 8px, #14213d 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

.glow-personalizado {
  box-shadow: 5px 2px 38px -1px #5879c6;
}

.degradation {
  /* Created with https://www.css-gradient.com */
  background: #FCA311;
  background: -webkit-linear-gradient(bottom, #15213D, #FCA311);
  background: -moz-linear-gradient(bottom, #15213D, #FCA311);
  background: linear-gradient(to top, #15213D, #FCA311);
}


svg#freepik_stories-contact-us:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-contact-us.animated #freepik--Bird--inject-33 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}

.line-height {
  line-height: 25px;
}

.multiline-static-primary-dos {
  background-image: linear-gradient(rgba(20, 33, 61, 1), rgba(20, 33, 61, 1)) !important;
}

.top-border {
  border-top: 4px solid rgba(255, 203, 57, 1) !important;
}

.custom-primary-button:after, .custom-accent-button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  border-radius: 4px;
}

.custom-primary-button:active:after, .custom-accent-button:active:after {
  border-radius: 4px;
  position: absolute;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.zoomButton {
  transform: scale(1.0);
  transition: 0.5s;
}

.zoomButton:hover {
  transform: scale(1.05);
}

.mat-icon:after {
  content: attr(icon);
}

.bg-comp {
  background-color: #f5f6fa;
}


input:not(:placeholder-shown) {
  background-color:white !important;
  border: 1px solid #fca311;
  opacity: 1;
}

.menu-button:hover {
  background-color: rgb(252, 163, 17, .2);
  color: #e05956 !important;
}

.selectedButton {
  background-color: rgb(252, 163, 17, .2);
  color: #e05956 !important;
}
